.python-version
venv/

__pycache__/
*.py[cod]
*$py.class
.venv/
env/


.junie/cache/
.junie/logs/
.idea/
*.iml
.junie/
.output.txt


.env
*.key
*.pem
credentials.json


*.log
*.sql
*.sqlite

.DS_Store
.directory
*~
